@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    --bg-color: hsl(0,0,100%);
    --bg-color-alt: hsl(0,0,90%);
    --font-color:hsl(0, 0%, 0%);
    --dd-color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--bg-color-alt) !important;
}

.dark {
    --font-color: white;
    --bg-color:hsl(207, 26%, 17%);
    --bg-color-alt:hsl(209, 23%, 22%);
    --dd-color:hsl(209, 23%, 22%);
    --countrybgColor: hsl(207, 26%, 17%);
    background: var(--bg-color);
    color: var(--font-color);
}

header {
    background: var(--bg-color-alt);
}

main, section {
    background: var(--bg-color);
}

.container {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.container:nth-child(1) {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button{
    outline: none;
    border: 0;
    background: transparent;
    color: var(--font-color);
}



.toggle {
    font-size: 1rem;
}

.toggle i{
    padding-right: 0.3rem;
}

.form-control {
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.form-control input {
    width: 100%;
    padding: 1rem 0.8rem;
    outline: 0;
    border: 0;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    background: var(--bg-color-alt);
}


.form-control i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

i {
    cursor: pointer;
}

.dropDownCon {
    width: 200px;
    position: relative;
}

.dropDown {
    width: 100%;
    padding: 1rem 0.8rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: var(--bg-color-alt);
}

.drop {
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    top: 4rem;
    padding: 1rem 0.8rem;
    background: var(--dd-color);
}

.drop p {
    margin: 0.1rem 0;
}

.showDropDown {
    display: none;
}


/* Countries Section  */

.countries {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 1.2rem
}

.country {
    min-height: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    border-radius: 5px;
overflow: hidden;
background: var(--bg-color-alt);

}

.country-img {
    height: 250px;
}

.country-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.country-info {
    padding: 1rem 1rem;
}

.country-info h5 {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.country-info p>strong {
    font-weight: 600;
}


/* Country Modal  */

.countryModal {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    padding: 2rem;
}

.back{
    position: absolute;
    background: var(--countrybgColor);
    top: 10rem;
    left: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0.4rem 2rem;
    font-size: 1rem;
    letter-spacing: 1px;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.leftModal {
    width: 50%;
    padding-right: 4rem;
}

.leftModal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightModal {
    width: 50%;
    margin-left: 1.4rem;
}

.modal-info {
    display: flex;
    justify-content: space-between;
}

.rightModal h1{
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: 3rem;
}

.inner p>strong {
font-weight: 600;
}

.show {
    display: none;
}

/* Borders Section  */

.borders-section {
    padding-top: 3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn {
    background: var(--countrybgColor);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0.4rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}